Bottles
FubuCore
FubuLocalization
FubuMVC
FubuMVC.Ajax
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Diagnostics
FubuMVC.JQueryUI
FubuMVC.Navigation
FubuMVC.Spark
FubuMVC.StructureMap
FubuMVC.TwitterBootstrap
FubuMVC.Validation
FubuPersistence
FubuTestingSupport
FubuValidation
HtmlTags
Microsoft.AspNet.Razor
Microsoft.CompilerServices.AsyncTargetingPack
Microsoft.Data.Edm
Microsoft.Data.OData
Microsoft.Web.Infrastructure
Microsoft.WindowsAzure.ConfigurationManager
NUnit
RavenDB.Client
RavenDB.Database
RavenDB.Embedded
RhinoMocks
Spark
structuremap
structuremap.automocking
System.Spatial
WebActivator
WindowsAzure.Storage
